body {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.container {
    margin: auto;
    width: 70%;
}

.header, .footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 8px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 96px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 32px;
    margin-bottom: 96px;
}

.maintext {
    font-size: 48px;
    font-weight: bolder;
}

.header .subtext {
    color: #e5e7eb;
}

.right, .left {
    width: 500px;
}

.hero .right {
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button {
    background-color: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    padding: 4px 32px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}